<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-warning-sign"></span>  {{modalOptions.headerText}} </h4>
</div>

<div class="modal-body">
  <p ng-bind-html= "modalOptions.bodyText"></p>
</div>
<div class="modal-footer">
    <button class="btn" ng-class="modalOptions.actionButtonClass" 
          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-danger" ng-if="modalOptions.showCancelButton"
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>

</div>