<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-3">
                <a ui-sref="root.branch">
                    <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-university fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                           
                            <h3 class="font-bold">Branch</h3>
                        </div>
                    </div>
                </div>
                </a>
                
            </div>
            <div class="col-lg-3">
                <a ui-sref="root.department">
                    <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-building fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                           
                            <h3 class="font-bold">Department</h3>
                        </div>
                    </div>
                </div>
                </a>
                
            </div>
            <div class="col-lg-3">
                <a ui-sref="root.subDepartment">
                    <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-home fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                           
                            <h3 class="font-bold">Sub Department</h3>
                        </div>
                    </div>
                </div>
                </a>
                
            </div>
            <div class="col-lg-3">
                <a ui-sref="root.grade">
                    <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-male fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                           
                            <h3 class="font-bold">Grade</h3>
                        </div>
                    </div>
                </div>
                </a>
                
            </div>
            <div class="col-lg-3">
                <a ui-sref="root.mode">
                    <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-road fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                           
                            <h3 class="font-bold">Mode</h3>
                        </div>
                    </div>
                </div>
                </a>
                
            </div>
            <div class="col-lg-3">
                <a ui-sref="root.status">
                    <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-dashboard fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                           
                            <h3 class="font-bold">Status</h3>
                        </div>
                    </div>
                </div>
                </a>
                
            </div>
            <div class="col-lg-3">
                <a ui-sref="root.type">
                    <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-puzzle-piece fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                           
                            <h3 class="font-bold">Type</h3>
                        </div>
                    </div>
                </div>
                </a>
                
            </div>
            
            
        </div>
        
              
        

        </div>