<div>
    <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Basic Form</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index-2.html">Home</a>
                        </li>
                        <li>
                            <a>Forms</a>
                        </li>
                        <li class="active">
                            <strong>Basic Form</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="row">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Add Category <small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            
                                <form role="form" ng-submit="acc.saveData('http://localhost/advanced/api/web/index.php/v1/statuses');">
                                    <div class="form-group"><label>Status Name</label><input type="text" ng-model="acc.data.name" placeholder="Status" class="form-control"></div>
                                    <button type="submit" class="btn btn-w-m btn-primary">Add</button>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            </div>

</div>